* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Styles */
/* Google Fonts */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn-primary {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #469165;
  padding: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: lightseagreen;
}

.btn-secondary {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 16px;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}

.button-container {
  display: flex;
  gap: 16px;
}

/* Main Styles */
nav {
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav-container {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-container .nav-menu {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-menu-container .nav-menu a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

#dynamic-btn {
  font-size: 16px;
  font-weight: 600;
  color: #276941;
  padding: 8px 12px;
  background-color: #ffffff;
  border-radius: 1000px;
  border: none;
  margin-bottom: 16px;
  cursor: pointer;
}

.dynamic-button i {
  margin-right: 8px;
}

#banner-container {
  background: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 120px 180px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#banner-container .banner-heading h1 {
  font-size: 72px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 16px;
}

#banner-container .banner-heading h1 span {
  color: #30b868;
}

#banner-container .banner-heading p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 32px;
}

/* Notes Section Styles */
#notes-section {
  padding-top: 130px;
  border: 2px solid orangered;
}

.notes-card-container .notes-card img {
  background-color: red;
  border-radius: 100%;
  padding: 14px;
}

/* Second Brain Section Styles */
#second-brain-section {
  padding: 120px;
  display: flex;
  align-items: center;
  gap: 60px;
}
.second-brain-heading h4 {
  font-size: 16px;
  font-weight: 500;
  color: #30b868;
  margin-bottom: 16px;
}

.second-brain-heading h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}

.second-brain-heading p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  text-align: justify;
}

.second-brain-items ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 500;
  margin: 16px 0px;
  color: #001931;
}

/* Early Access Section Styles */
#early-access-section {
  background-color: #f7f6f2;
  padding: 40px 80px;
  margin: 0px 120px 120px 120px;
  border-radius: 12px;
}

#early-access-section .early-access-heading {
  text-align: center;
}

#early-access-section .early-access-heading h2 {
  font-size: 40px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}

#early-access-section .early-access-heading p {
  font-size: 16px;
  color: #627382;
  line-height: 24px;
  margin-bottom: 24px;
}

#early-access-section .early-access-span {
  font-size: 16px;
  color: #627382;
  margin-top: 16px;
}

/* Footer Styles */
footer {
  background-color: #001931;
}

footer .footer-items {
  display: flex;
  justify-content: space-between;
  padding: 120px 120px 80px 120px;
}

footer .social-links p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

footer .social-links i {
  color: #ffffff;
  margin-right: 16px;
  cursor: pointer;
}

footer .footer-bottom {
  color: #ffffff;
  text-align: center;
  padding-bottom: 30px;
}
