* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Styles */
/* Google Fonts */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn-primary {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #469165;
  padding: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: lightseagreen;
}

/* Main Styles */
header {
  padding: 16px 120px;
}

.nav-container {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-container .nav-menu {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-menu-container .nav-menu a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
