* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Styles */
/* Google Fonts */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn-primary {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #469165;
  padding: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: lightseagreen;
}

/* Main Styles */
header {
  padding: 16px 120px;
}

.nav-container {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-container .nav-menu {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-menu-container .nav-menu a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

#dynamic-btn {
  font-size: 16px;
  font-weight: 600;
  color: #276941;
  padding: 8px 12px;
  background-color: #ffffff;
  border-radius: 1000px;
}

.banner-container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 160px 120px;
  border: 2px solid blue;
}

/* Notes Section Styles */
#notes-section {
  max-width: 1360px;
  margin: 0 auto;
  padding-top: 130px;
  border: 2px solid orangered;
}

.notes-card-container .notes-card img {
  background-color: red;
  border-radius: 100%;
  padding: 14px;
}

/* Second Brain Section Styles */
#second-brain-section {
  padding: 120px;
  display: flex;
  align-items: center;
  gap: 60px;
}
.second-brain-heading h4 {
  font-size: 16px;
  font-weight: 500;
  color: #30b868;
  margin-bottom: 16px;
}

.second-brain-heading h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}

.second-brain-heading p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  text-align: justify;
}

.second-brain-items ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 500;
  margin: 16px 0px;
  color: #001931;
}

/* Footer Styles */
footer {
  background-color: #001931;
}

footer .footer-items {
  display: flex;
  justify-content: space-between;
  padding: 120px 120px 80px 120px;
}

footer .social-links p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

footer .social-links i {
  color: #ffffff;
  margin-right: 16px;
  cursor: pointer;
}

footer .footer-bottom {
  color: #ffffff;
  text-align: center;
  padding-bottom: 30px;
}
